{% extends 'common/base.html' %}

{% set body_class='carousel-narrow' %}
{% set title='Графики' %}

{% block content %}
    {% include 'common/header.html' %}

    <div class="container content">
        <h1>{{ title }}</h1>
        
        <div id="plot"></div>

        <form id="checkboxes">
            <!--<p>
                <input type="checkbox" checked id="wheat_pp_checkbox">
                <label for="wheat_checkbox">Пшеница</label>
            </p>
            <p>
                <input type="checkbox" checked id="coal_pp_checkbox">
                <label for="coal_checkbox">Уголь</label>
            </p>
            <p>
                <input type="checkbox" checked id="diamond_pp_checkbox">
                <label for="diamond_checkbox">Алмазы</label>
            </p>    
            <p>
                <input type="checkbox" checked id="exp_market_checkbox">
                <label for="exp_market_checkbox">Опыт</label>
            </p>-->
        </form>
    </div>

    {% include 'common/footer.html' %}
{% endblock %}

{% block additional_js %}
{% javascript 'plot' %}
{% endblock %}
