{% extends 'website/components/base.html' %}

{% set body_class='carousel-narrow' %}
{% set title='Статистика' %}

{% block content %}
    {% include 'website/components/header.html' %}

    <div class="container content">
        <h1>Статистика</h1>
        <p class="minor">Статистика ведется с 27 октября 2015.</p>
        <p class="minor">Последнее обновление {{ last_update|date_format() }} МСК.</p>
        <table class="stats">
            <thead>
                <tr>
                    <td>#</td>
                    <td colspan="2">Игрок</td>
                    <td>Время в игре</td>
                </tr>
            </thead>
            <tbody>
                {% for player in object_list %}
                    <tr>
                        <td class="index">{{ loop.index0 + 1 + (page_obj.number - 1) * 50 }}</td>
                        <td><img src="https://minotar.net/helm/{{ player.nickname }}/32" /></td>
                        <td>{{ player.nickname }}</td>
                        <td class="right">{{ (player.time / 60)|number_format() }} ч</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="empty" colspan="4">Тут пусто</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pager">
            {% if page_obj.number > 1 %}
                <a href="?page=1" title="Первая страница">&laquo;</a>
            {% endif %}
            {% if page_obj.number > 2 %}
                <a href="?page={{ page_obj.number - 2 }}">{{ page_obj.number - 2 }}</a>
            {% endif %}
            {% if page_obj.number > 1 %}
                <a href="?page={{ page_obj.number - 1 }}">{{ page_obj.number - 1 }}</a>
            {% endif %}
            <span class="page current">{{ page_obj.number }}</span>
            {% if page_obj.number < page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.number + 1 }}">{{ page_obj.number + 1 }}</a>
            {% endif %}
            {% if page_obj.number < page_obj.paginator.num_pages - 1 %}
                <a href="?page={{ page_obj.number + 2 }}">{{ page_obj.number + 2 }}</a>
            {% endif %}
            {% if page_obj.number < page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.paginator.num_pages }}" title="Последняя страница">&raquo;</a>
            {% endif %}
            <p class="minor">Страница {{ page_obj.number|int() }} из {{ page_obj.paginator.num_pages|int() }}</p>
        </div>
    </div>

    {% include 'website/components/footer.html' %}
{% endblock %}
